{% extends 'base.html' %}
{% block title %}
    Detail Product
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Product image -->
            <div id="product-images" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for image in product.images.all %}
                    <button type="button" data-bs-target="#product-images" data-bs-slide-to="{{ forloop.counter8 }}"
                            {% if forloop.first %}class="active" {% endif %}
                            aria-current="{% if forloop.first %}true{% else %}false{% endif %}"
                            aria-label="{{ image.product.name }} {{ forloop.counter8 }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in product.images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.url.product.name }}">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#product-images"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-nex" type="button" data-bs-target="#product-images"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Product details -->
            <h1 class="lead">{{ product.name }}</h1>
            <p class="lead">{{ product.description }}</p>
            <h2 class="text-primary">{{ product.price }} сомов {{ currency }}</h2>
            <p class="md-6">{{ product.quantity }} {{ 'в наличии' }}</p>
            {% if product.specifications.all %}
            <div class="nt-4">
                <h3>Характеристики:</h3>
                <ul class="list-unstyled">
                    {% for specification in product.specifications.all %}
                    <li><strong>{{ specification.name }}</strong>: {{ specification.value }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% comment %}
            <form method="POST" action="{% url 'cart:add' product.id %}">
                {% csrf_token %}
                <input type="number" name="quentity" value="1" class="form-control mb-3" min="1">
                <button type="submit" class="btn btn-primary">{{ 'Добавить в корзину' }}</button>
            </form>
            {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}